*{
            
    box-sizing: border-box;
}
body {
background: url(./wave.svg);
background-size: cover;

background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
}
.darkmode{
    background-color: #000;
    color: #fff;
}

section button{
    position: absolute;
    top:0px;
    right: 0px;
    
    
    
    
    
}
section button nav{
    
    color: #000;
    width: 100%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
section button nav:hover{
   
    color: #000;
    transform: rotate(360deg);
}

div {
    
width: 40%;
min-width: 300px;
/* height: 500px; */
color: rgb(255, 255, 255);
background: rgb(0 132 255);
text-align: center;

border-radius: 10px;
box-shadow: 1px 2px 2px 3px #fff;
display: flex;
flex-direction: column;
justify-content: center;
gap: 2em;
}
button {
cursor: pointer;
padding: 10px 20px;

height: 50px;
margin: 10px;
border-radius: 5%;
background: rgb(0 132 255);
color: rgb(255, 255, 255);
border: none;
box-shadow: 0 0 0 3px #fff;
transition: all 0.3s ease-in-out;
}
button:hover {
background: rgb(255, 255, 255);
color: rgb(0 132 255);
transform: scale(1.1);
}
img {
width: 20%;
min-width: 100px;
border-radius: 50%;
border: 3px solid #fff;
}
.img {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
border: none;

box-shadow: none;
padding: 10px;
}
